<section class="hero hero-philosophy">
<div class="breadcrumbs-container">
<p id="breadcrumbs" class="bg-dark"><span><span><a href="/">トップページ</a></span> | <span><a href="/company/">企業情報</a></span> | <span class="breadcrumb_last" aria-current="page">企業理念</span></span></p>  </div>
<div class="hero-heading">
<h1 class="hero-ttl">
企業理念    </h1>
</div>
<div class="hero-bg"></div>
<div class="hero-overlay"></div>
</section>
<section class="standard-sec philosophy-summary content-section lights bg-light-gray fadeInTrigger">
<div class="container standard-wrap">
<h2 class="f-heading__secondary u-mb50">理想をカタチに、未来を築く</h2>
<p class="lead">近年加速度的にその変革のスピードを上げている社会のなかで、私たち八生建設は「HASSEI」をキーワードとした企業フィロソフィー（<span class="u-color--blue">H</span>appiness＝顧客満足、<span class="u-color--blue">A</span>ctive＝迅速な行動、<span class="u-color--blue">S</span>afety＝安全第一、<span class="u-color--blue">S</span>ervices of Best Quality＝高品質なサービス、<span class="u-color--blue">E</span>xpertise＝長年培ってきた技術、<span class="u-color--blue">I</span>nteractive Communication＝完璧なアフターフォロー）を脈々と貫き、創業より変わらぬ真摯な姿勢でお客様と向き合ってまいりました。</p>
<p class="lead">八生建設は2023年7月に創業75年を迎え、次の80周年を目指すにあたり、従前の企業フィロソフィーに加え、新しいビジョン『Wishes Build The Future～理想をカタチに、未来を築く～』を掲げました。<br>
このビジョンでは、建築に関わる全ての人の「理想」が、生まれてくる建物にあまねく結晶することを目指しています。そのために、お客様の建物への大切な「理想」のバトンを受け継ぎ、当社は施工技術のプロフェッショナルとして、建物というカタチに変えることで、お客様との信頼を一つ一つ丁寧に築き上げることをこれから先の未来もお約束するという意味を込めました。</p>
<p class="lead">私たちは、竣工後も末永くお付き合いいただける企業として、協力会社の皆様ともより一層力を合わせ、「建築といえば八生建設」と一番に想起していただける企業となれるよう、今後も社員一丸となって、ひたむきに取り組んでまいる所存です。</p>
<p class="lead">今後とも変わらぬご指導ご鞭撻を賜りますようお願い申し上げますとともに、私たちのさらなる挑戦に、是非注目していただければ幸いです。</p>
</div>
</section>
<section class="l-section l-section--bg-white fadeInTrigger">
<div class="l-container">
<div class="f-heading u-mb50">
<span class="f-heading__label-img">
<img alt="Vision Map" decoding="async" class="" src="/uploads/logo_visionmap-1.svg" /></span>
<h2 class="f-heading__secondary">八生建設が存在する理由<br class="u-sp-off">目指す姿</h2>
</div>
<div class="l-container l-container--outer p-vision-map">
<div class="c-grid c-grid--3col p-vision-map__block p-vision-map__block--first">
<div class="p-vision-map__item">
<h3 class="p-vision-map__title">MISSION<span class="p-vision-map__label">存在意義</span></h3>
<p class=" p-vision-map__catch">お客様の思い描く<br>理想の建物を実現する</p>
<p class="p-vision-map__description">八生建設は、常に高水準の品質と<br>安心感を提供し続ける。</p>
<figure class="p-vision-map__image"><img alt="" decoding="async" class="" src="/uploads/item_vision001-1.svg" /></figure>
<div class="p-vision-map__image"></div>
<p class="p-vision-map__catch--sub">「想い」を繋ぐ</p>
</span></h3>
</div>
<div class="p-vision-map__item">
<h3 class="p-vision-map__title">VISION<span class="p-vision-map__label">目指す方向性</span></h3>
<p class=" p-vision-map__catch">理想をカタチに、<br>未来を築く</p>
<p class="p-vision-map__description">Wishes build the future.<br> </p>
<figure class="p-vision-map__image"><img alt="" decoding="async" class="" src="/uploads/item_vision002-1.svg" /></figure>
<div class="p-vision-map__image"></div>
</span></h3>
</div>
<div class="p-vision-map__item">
<h3 class="p-vision-map__title">VALUE<span class="p-vision-map__label">行動基準</span></h3>
<p class="p-vision-map__catch">対話を<br>大切にする</p>
<figure class="p-vision-map__image"><img alt="" decoding="async" class="" src="/uploads/item_vision003-1.svg" /></figure>
<div class="p-vision-map__image"></div>
</span></h3>
</div>
</div>
<div class="p-vision-map__block p-vision-map__block--second">
<div class="p-vision-map__item p-vision-map__item-second p-vision-map__item-second-top">
<p class="p-vision-map__catch">建てたら終わりではなく<br>アフターフォローをしっかり</p>
</div>
<div class="p-vision-map__item p-vision-map__item-second p-vision-map__item-second-middle">
<p class="p-vision-map__catch">お客様から末長く信頼され<br>愛される企業</p>
</div>
<div class="p-vision-map__item p-vision-map__item-second p-vision-map__item-second-bottom">
<h3 class="p-vision-map__title p-vision-map__title--last-box">COMPANY PHILOSOPHY<br>
<span class="p-vision-map__label">経営理念</span>
</h3>
<p class="p-vision-map__list"><span class="u-color--blue">H</span>appiness （弊社ビジネスを通じてお客様・スタッフの幸せづくりに貢献します） ～顧客の満足<br>
<span class="u-color--blue">A</span>ctive （積極は善。お客様のご要望を積極的な行動でかなえます）～迅速な対応<br>
<span class="u-color--blue">S</span>afety （地球規模の環境問題および建築物の「品質」「環境」「安全」を第一に考えます）～安全第一<br>
<span class="u-color--blue">S</span>ervices of Best Quality （建築・施工管理・土地運用において高品質なサービスをご提供致します） ～よりよいサービス<br>
<span class="u-color--blue">E</span>xpertise （経験豊富な専門スタッフがあらゆるニーズにお応え致します）～長年の技術<br>
<span class="u-color--blue">I</span>nteractive Communication （ 施工後のフォローアップもしっかりと対応させて頂きます）～地域とのコミュニケーション
</p>
</div>
<div class="p-vision-map__block--background-line">
<svg viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
<path id="leftPath" fill="none" stroke="#00bcd4" stroke-width="2"
d="M2,0
C2,50 10,60 40,60
L320,60
C330,60 340,70 340,100
L340,600
L340,650" />
<path id="rightPath" fill="none" stroke="#00bcd4" stroke-width="2"
d="M698,0
C698,50 690,60 660,60
L360,60
C350,60 340,70 340,100
L340,600
L340,650" />
<path id="centerPath" fill="none" stroke="#00bcd4" stroke-width="2"
d="M340,0
L340,60
C340,70 340,100 340,100
L340,600
L340,650" />
<circle r="6" fill="#03a9f4">
<animateMotion dur="5s" repeatCount="indefinite" begin="0s">
<mpath href="#leftPath" />
</animateMotion>
</circle>
<circle r="6" fill="#03a9f4">
<animateMotion dur="6s" repeatCount="indefinite" begin="1s">
<mpath href="#centerPath" />
</animateMotion>
</circle>
<circle r="6" fill="#03a9f4">
<animateMotion dur="7s" repeatCount="indefinite" begin="2s">
<mpath href="#rightPath" />
</animateMotion>
</circle>
</svg>
</div>
</div>
</div>
</div>
</section>
<section class="c-banner-recruit darks">
<div class="c-banner-recruit__inner">
<div class="js-text-fadein-wrapper">
<h2 class="c-banner-recruit__title js-text-fadein-line">「情熱」をカタチに変える仕事</h2>
</div>
<p class="c-banner-recruit__lead js-text-fadein-wrapper">
<span class="line js-text-fadein-line">八生建設の一員となって、</span><br>
<span class="line js-text-fadein-line">あなたの「情熱」をカタチに変えませんか？</span>
</p>
<a href="/recruit/" class="c-banner-recruit__link js-text-fadein-wrapper">
<span class="line js-text-fadein-line">
採用情報ページへ
</span>
<span class="c-banner-recruit__link-arrow line">
<svg id="arrow001" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.71 35.71">
<circle cx="17.86" cy="17.86" r="17.86" />
<path class="cls-1" d="M26.4,19.16l-6.11,6.49c-.72.76-1.91.8-2.68.08-.76-.72-.8-1.91-.08-2.68l3.1-3.29h-9.94c-1.05,0-1.89-.85-1.89-1.89s.85-1.89,1.89-1.89h9.94s-3.1-3.3-3.1-3.3c-.72-.76-.68-1.96.08-2.68.37-.34.83-.51,1.3-.51.5,0,1.01.2,1.38.6l6.11,6.49c.69.73.69,1.87,0,2.6Z" />
</svg>
</span>
</a>
</div>
</section>
<section class="cta content-section darks">
<div class="cta-wrap outermost-container">
<p class="lead">
建築の大小関わらず<br class="sp-off">
お気軽にご相談ください
</p>
<button class="rainbow-btn" onclick="location.href='/hassei/contact/'">
<svg class="c-cta__icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 30" aria-hidden="true">
<polygon fill="currentColor" points="9.8 26.9 14.9 22.9 9.8 19.4 9.8 26.9" />
<polygon fill="currentColor" points="2.9 12.7 9.9 17.8 29.5 5.3 11.6 19 22 26.6 32.1 3.1 2.9 12.7" />
</svg>&ensp;&ensp;お問い合わせ
</button>
</div>
</section>