<div class="container">
<p id="breadcrumbs" class=""><span><span><a href="/">トップページ</a></span> | <span class="breadcrumb_last" aria-current="page">プライバシーポリシー</span></span></p></div>
<section class="standard-sec pt0">
<div class="inner-container standard-wrap">
<p class="cat-icon">
<svg id="layer_003" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 466.1 390.3">
<defs>
<linearGradient id="gradient_3" data-name="gradient_3" x1="392.2" y1="-26.9" x2="20.4" y2="383.2" gradientTransform="translate(0 393.8)" gradientUnits="userSpaceOnUse">
<stop offset="0" stop-color="#18b7f1" />
<stop offset="1" stop-color="#185ef1" />
</linearGradient>
<clipPath id="clippath">
<path class="st0" d="M266.8,305.7l-63.1,15.2c-7.8,1.9-14.8-5.1-13-13l15.2-63.2c.8-3.3,2.5-6.4,5-8.8L394.5,52.3c7.6-7.6,20-7.6,27.7,0l37.1,37.1c7.6,7.6,7.6,20,0,27.7l-183.6,183.6c-2.4,2.4-5.5,4.1-8.8,5h0Z" />
</clipPath>
<linearGradient id="gradient_4" data-name="gradient_4" x1="715.1" y1="-2927.6" x2="623.4" y2="-2927.6" gradientTransform="translate(1914 -2349) rotate(45)" gradientUnits="userSpaceOnUse">
<stop offset="0" stop-color="#d3ffff" />
<stop offset="1" stop-color="#b0dbdb" />
</linearGradient>
<linearGradient id="gradient_5" data-name="gradient_5" x1="622.4" y1="-2927.7" x2="716.4" y2="-2927.7" gradientTransform="translate(1914 -2349) rotate(45)" gradientUnits="userSpaceOnUse">
<stop offset="0" stop-color="#c5ffff" />
<stop offset="1" stop-color="#d5ffff" />
</linearGradient>
</defs>
<rect class="st0" x="-96.8" y="-104.1" width="600" height="600" />
<rect class="st3" width="375.6" height="390.3" rx="51.5" ry="51.5" />
<g>
<path class="st2" d="M266.8,305.7l-63.1,15.2c-7.8,1.9-14.8-5.1-13-13l15.2-63.2c.8-3.3,2.5-6.4,5-8.8L394.5,52.3c7.6-7.6,20-7.6,27.7,0l37.1,37.1c7.6,7.6,7.6,20,0,27.7l-183.6,183.6c-2.4,2.4-5.5,4.1-8.8,5h0Z" />
<path class="st1" d="M201.1,322.4c-3.1,0-6.1-1.2-8.4-3.5s-4.1-7.1-3.2-11.2l15.2-63.2c.9-3.6,2.7-6.8,5.3-9.4L393.6,51.5c8.1-8.1,21.2-8.1,29.3,0l37.1,37.1c8.1,8.1,8.1,21.2,0,29.3l-183.6,183.6c-2.6,2.6-5.8,4.4-9.4,5.3l-63.1,15.2c-.9.2-1.9.3-2.8.3h0ZM408.3,47.7c-4.7,0-9.4,1.8-13,5.4l-183.6,183.6c-2.3,2.3-3.9,5.2-4.6,8.3l-15.2,63.2c-.8,3.3.2,6.6,2.5,9,2.4,2.4,5.8,3.3,9,2.5l63.1-15.2c3.1-.8,6-2.4,8.3-4.6l183.6-183.6c7.2-7.2,7.2-18.8,0-26l-37.1-37.1c-3.6-3.6-8.3-5.4-13-5.4h0Z" />
</g>
<path class="st4" d="M217.6,87.9H61.6c-6.9,0-12.5-5.6-12.5-12.5h0c0-6.9,5.6-12.5,12.5-12.5h156c6.9,0,12.5,5.6,12.5,12.5h0c0,6.9-5.6,12.5-12.5,12.5Z" />
<path class="st4" d="M154,142.6H61.5c-6.9,0-12.5-5.6-12.5-12.5h0c0-6.9,5.6-12.5,12.5-12.5h92.5c6.9,0,12.5,5.6,12.5,12.5h0c0,6.9-5.6,12.5-12.5,12.5h0Z" />
</svg>
<h1 class="heading-2">プライバシーポリシー（個人情報保護方針）<br>
<span class="sub-ttl">Privacy Policy</span>
</h1>
<p class="lead">八生建設株式会社（以下「当社」といいます。）は、個人情報保護の重要性を認識し、以下の方針に基づき、個人情報の適切な取扱いと保護に努めます。</p>
<div class="legal-article">
<div class="legal-section">
<h2 class="heading">個人情報の取得</h2>
<p>当社は、適法かつ公正な手段により個人情報を取得します。</p>
</div>
<div class="legal-section">
<h2 class="heading">個人情報の管理</h2>
<p>当社は、お客様の個人情報を正確かつ安全に管理し、不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、個人情報の厳重な管理を行います。</p>
</div>
<div class="legal-section">
<h2 class="heading">個人情報の利用目的</h2>
<p>当社が取得した個人情報は、以下の目的で利用します。</p>
<p>（1）お客様に関する個人情報</p>
<ul class="u-mb20">
<li>建設工事の請負・設計・施工・管理・アフターメンテナンス</li>
<li>お問い合わせ対応およびご依頼内容の確認・連絡/li>
<li>当社のサービスに関するご案内</li>
<li>アンケート調査、キャンペーン、セミナー、イベントのご案内</li>
<li>当社施工物件の利用状況調査および顧客満足度の把握</li>
<li>必要に応じたお客様へのご連絡</li>
<li>各種法令などに基づく調査・記録、官公庁や公的機関などへの届出・報告および監査対応</li>
</ul>
<p>（2）法人のお客様および法人のお客様に所属する個人に関する情報</p>
<ul class="u-mb20">
<li>お取引の準備、契約の履行および契約管理</li>
<li>当社サービスに関するご案内</li>
<li>各種法令などに基づく調査・記録、官公庁や公的機関などへの届出・報告および監査対応</li>
</ul>
</div>
<div class="legal-section">
<h2 class="heading">個人情報の安全対策</h2>
<p>お客様の個人情報を安全に管理・運営するよう鋭意努力しており、個人情報への外部からの不正なアクセス、個人情報の紛失・毀損・破壊・改ざん・漏洩、社外への不正な流出などへの危険防止に対する合理的かつ適切な安全対策を行っています。また、情報管理責任者を置き、個人情報の適切な管理に努めるとともに、情報セキュリティーに関する規定を設けて社員への周知徹底を実施しています。</p>
</div>
<div class="legal-section">
<h2 class="heading">第三者への提供</h2>
<p>当社は、以下の場合を除き、個人情報を第三者に提供いたしません。</p>
<ul class="u-mb20">
<li>ご本人様の同意がある場合</li>
<li>ご本人様を特定できない形式で提供する場合</li>
<li>業務委託に伴い必要な範囲で外部業者に提供する場合<br> ※この場合、十分な保護水準を備えた業者を選定し、契約により管理を徹底します</li>
<li>法令に基づき開示を求められた場合</li>
<li>人命・身体・財産の保護のために必要で、ご本人様の同意が困難な場合</li>
<li>公的機関の法令業務に協力する必要があり、ご本人様の同意により当該業務に支障を及ぼすおそれがある場合</li>
</ul>
</div>
<div class="legal-section">
<h2 class="heading">個人情報の開示手続き</h2>
<p>当社が保有する個人情報の開示を希望される場合は、下記へご連絡ください。所定の申請書類をファックスまたはメールにてご案内いたします。<br>
&ensp;<br>
<span class="emphasis">八生建設株式会社（総務部）</span><br>
住所：〒338-0002 埼玉県さいたま市中央区下落合7-3-6<br>
電話：048-852-2631<br>
FAX：048-854-2531<br>
受付時間：9時～17時（土日祝日除く）<br>
※手続きには1,000円の手数料がかかります。納付方法等の詳細は別途ご案内いたします。</p>
</div>
<div class="legal-section">
<h2 class="heading">個人情報の訂正・利用停止等</h2>
<p>開示請求により、当社保有の個人情報に誤りがあることが判明し、ご本人様から訂正・変更・削除・利用停止等の請求があった場合は、法令に基づき速やかに対応いたします。</p>
</div>
<div class="legal-section">
<h2 class="heading">苦情への対応</h2>
<p>当社の個人情報の取り扱いに関する苦情・ご相談は、以下までご連絡ください。<br>
&ensp;<br>
住所：〒338-0002 埼玉県さいたま市中央区下落合7-3-6<br>
TEL：048-852-2631<br>
受付時間：9時～17時（土日祝日除く）</p>
</div>
<div class="legal-section">
<h2 class="heading">プライバシーポリシーの変更</h2>
<p>当社は、法令の改正や業務内容の変更等に応じて、本ポリシーを予告なく改定する場合があります。変更後の内容は当社ホームページに掲載した時点から適用されます。</p>
</div>
</div>      </div>
</section>
<section class="cta content-section darks">
<div class="cta-wrap outermost-container">
<p class="lead">
建築の大小関わらず<br class="sp-off">
お気軽にご相談ください
</p>
<button class="rainbow-btn" onclick="location.href='/hassei/contact/'">
<svg class="c-cta__icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 30" aria-hidden="true">
<polygon fill="currentColor" points="9.8 26.9 14.9 22.9 9.8 19.4 9.8 26.9" />
<polygon fill="currentColor" points="2.9 12.7 9.9 17.8 29.5 5.3 11.6 19 22 26.6 32.1 3.1 2.9 12.7" />
</svg>&ensp;&ensp;お問い合わせ
</button>
</div>
</section>