<footer class="l-footer footer">
<div class="l-footer-content footer-content outermost-container">
<div class="l-footer-content-wrap footer-content-wrap">
<div class="l-footer-content-item footer-content-item item-001">
<h2 class="l-footer-content-ttl footer-content-ttl">
<a href="/">
<img alt="八生建設ロゴ" decoding="async" class="" src="/uploads/logo.svg" />
</a>
</h2>
<p class="lead mb30">
創業以来、建築施工管理で培った豊富な経験と高度な技術に加え、先を見据えたビジネ スの研鑚を積み重ね、より良い生活環境の創造と、活力ある社会の発展に貢献してまいりました。<br>
今後も建築のエキスパートとしての価値を高め、皆さまにご満足いただけるソリューショ ンを提供できる企業として、さらなる発展を目指してまいります。
</p>
</div>
<div class="l-footer-content-item footer-content-item item-002">
<h2 class="l-footer-content-ttl footer-content-ttl">八生建設について</h2>
<div class="menu-footer-sitemap-container"><ul id="menu-footer-sitemap" class="menu"><a href="/" class="link-text"><span>トップページ</span></a></li>
<a href="/works/" class="link-text"><span>施工事例一覧</span></a></li>
<a href="/company/" class="link-text"><span>企業情報</span></a></li>
<a href="/recruit/" class="link-text"><span>採用情報</span></a></li>
<a href="/information/" class="link-text"><span>インフォメーション</span></a></li>
<a href="/contact/" class="link-text"><span>お問い合わせ</span></a></li>
<a href="/entry/" class="link-text"><span>エントリーフォーム</span></a></li>
</ul></div>        </div>
<div class="l-footer-content-item footer-content-item item-003">
<h2 class="l-footer-content-ttl footer-content-ttl">新着情報</h2>
<div class="l-footer-case-wrap footer-case-wrap">
<ul class="works-list"><li><a href="/works/case003/"><img alt="B保育園" decoding="async" class="" src="/uploads/case003_01-300x300.jpg" /></a></li><li><a href="/works/case006/"><img alt="O幼稚園" decoding="async" class="" src="/uploads/case006_01-300x300.jpg" /></a></li><li><a href="/works/case002/"><img alt="K事務所ビル" decoding="async" class="" src="/uploads/case002_01-300x300.jpg" /></a></li><li><a href="/works/case008/"><img alt="Y倉庫" decoding="async" class="" src="/uploads/case008_01-300x300.jpg" /></a></li></ul>          </div>
</div>
<div class="l-footer-content-item footer-content-item item-004">
<h2 class="l-footer-content-ttl footer-content-ttl">お問い合わせ</h2>
<dl>
<dt>
<svg class="l-footer__icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true">
<path fill="currentColor" d="M3.5,1v18.1h5.2v-2.8h2.6v2.8h5.2V1H3.5ZM7.1,12.4h-1.9v-2.3h1.9v2.3ZM7.1,8.5h-1.9v-2.3h1.9v2.3ZM7.1,4.5h-1.9v-2.3h1.9v2.3ZM11,12.4h-1.9v-2.3h1.9v2.3ZM11,8.5h-1.9v-2.3h1.9v2.3ZM11,4.5h-1.9v-2.3h1.9v2.3ZM14.9,12.4h-1.9v-2.3h1.9v2.3ZM14.9,8.5h-1.9v-2.3h1.9v2.3ZM14.9,4.5h-1.9v-2.3h1.9v2.3Z" />
</svg>
</dt>
<dd>埼玉県さいたま市中央区下落合 7丁目3番6号</dd>
</dl>
<dl>
<dt>
<svg class="l-footer__icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true">
<path fill="currentColor" d="M4.6,2.2c-1.2.8-1.4,3.1-1,5.1.3,1.5,1.1,3.5,2.3,5.4,1.2,1.8,2.8,3.4,4,4.3,1.6,1.2,3.8,1.9,5,1.2.6-.4,1.5-1.4,1.5-1.6,0,0-.5-.8-.6-1l-1.7-2.7c-.1-.2-.9,0-1.3.2-.6.3-1.1,1.2-1.1,1.2-.4.2-.7,0-1.4-.3-.8-.4-1.7-1.5-2.5-2.6-.7-1.1-1.4-2.4-1.4-3.3,0-.7,0-1.1.3-1.4,0,0,1-.1,1.5-.5.4-.3.9-.9.7-1.1l-1.7-2.7c-.1-.2-.6-1-.6-1-.2,0-1.5.3-2.1.7Z" />
</svg>
</dt>
<dd>048-852-2631 add_text</dd>
</dl>
<dl>
<dt>
<svg class="l-footer__icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true">
<path fill="currentColor" d="M17.8,7.3h0s-15.5,0-15.5,0v6.8h2.4l1.5-2.9h7.8l1.4,2.9h2.4v-6.8h0ZM4.8,9.8c-.3,0-.6-.3-.6-.6s.3-.6.6-.6.6.3.6.6-.3.6-.6.6ZM6.5,9.8c-.3,0-.6-.3-.6-.6s.3-.6.6-.6.6.3.6.6-.3.6-.6.6Z" />
<polygon fill="currentColor" points="5.2 6.8 5.2 2.5 5.2 2.5 14.8 2.5 14.8 6.8 15.8 6.8 15.8 1.5 15.8 1.5 15.8 1.5 15.8 1.5 4.2 1.5 4.2 6.8 5.2 6.8" />
<polygon fill="currentColor" points="13.6 4 13.6 4 6.4 4 6.4 4 6.4 4 6.4 4 6.4 4.4 13.6 4.4 13.6 4 13.6 4 13.6 4" />
<polygon fill="currentColor" points="6.4 5.4 6.4 5.4 6.4 5.4 6.4 5.4 6.4 5.9 13.6 5.9 13.6 5.4 13.6 5.4 13.6 5.4 13.6 5.4 6.4 5.4" />
<path fill="currentColor" d="M13.8,15.9h0s0,0,0,0c0,0,0,0,0,0-1,1-2.3,1.6-3.8,1.6s-2.8-.6-3.8-1.6l-.7.7c1.2,1.2,2.7,1.9,4.5,1.9s3.3-.7,4.5-1.8c0,0,0,0,0,0h0s0,0,0,0c-.3-.3-.4-.4-.7-.7Z" />
<path fill="currentColor" d="M6.9,15.2c.8.8,1.9,1.3,3.1,1.3s2.2-.5,3-1.2c0,0,0,0,0,0h0s0,0,0,0c-.3-.3-.5-.5-.7-.7h0s0,0,0,0c0,0,0,0,0,0-.6.6-1.4,1-2.3,1s-1.7-.4-2.3-1l-.7.7Z" />
<path fill="currentColor" d="M10.9,13h0s0,0,0,0c0,0,0,0,0,0-.2.2-.5.4-.9.4s-.7-.1-.9-.4l-.7.7c.4.4,1,.7,1.6.7s1.2-.2,1.6-.6c0,0,0,0,0,0h0s0,0,0,0c-.2-.2-.6-.6-.7-.7Z" />
</svg>
</dt>
<dd>048-854-2531</dd>
</dl>
<dl>
<dt>
<svg class="l-footer__icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true">
<path fill="currentColor" d="M17.2,3H2.8c-.3,0-.5.2-.5.5v10c0,.3.2.5.5.5h14.3c.3,0,.5-.2.5-.5V3.5c0-.3-.2-.5-.5-.5ZM3.4,11.5v-7.2h13.2v7.2H3.4Z" />
<path fill="currentColor" d="M12,16.2c-.1,0-.2,0-.2-.2v-1.1h-3.6v1.2c0,0,0,.1-.1.1h-1.3c0,0-.2,0-.2.1l-.3.7h7.2l-.3-.8h-1.3Z" />
</svg>
</dt>
<dd><a href="/">/</a></dd>
</dl>
</div>
</div>
</div>
<div class="bottom-wrap outermost-container">
<p class="copyright">
<span>&copy;</span><span id="copyright-year"></span>&ensp;
<a href="/">HASSEI CO.,LTD.</a>
&nbsp;All Rights Reserved.
</p>
<div class="menu-extra-nav-container"><ul id="menu-extra-nav" class="menu"><li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="/privacy/">プライバシーポリシー</a></li>
<li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="/terms/">利用規約</a></li>
</ul></div>    </div>
</footer>