<div class="breadcrumbs-container">
<p id="breadcrumbs" class=""><span><span><a href="/">トップページ</a></span> | <span class="breadcrumb_last" aria-current="page">施工実績</span></span></p></div>
<main>
<section class="standard-sec works-list-sec">
<div class="outer-container">
<h1 class="archive-ttl01">建築実績一覧</h1>
<p class="archive-ttl02">豊かな社会と人の暮らしにコミットする。<br class="u-tab-off">
HASSEIの価値観は、私たちが築く<br class="u-tab-off">
<span class="text-gradation">あらゆるものに反映</span>されています。
</p>
<p class="archive-ttl03">
11
/11</p>
</div>
</section>
<section class="select-section">
<div class="outer-container">
<form action="/works/" method="get" class="c-grid c-grid--7-3">
<ul class="select-terms">
<li><input type="checkbox" name="classification[]" value="all" id="all"><label for="all">すべて</label></li>
<li><input type="checkbox" name="classification[]" value="office" id="office"><label for="office">オフィス</label></li>
<li><input type="checkbox" name="classification[]" value="houses" id="houses"><label for="houses">住宅施設</label></li>
<li><input type="checkbox" name="classification[]" value="car-dealer" id="car-dealer"><label for="car-dealer">カーディーラー</label></li>
<li><input type="checkbox" name="classification[]" value="factories" id="factories"><label for="factories">工場</label></li>
<li><input type="checkbox" name="classification[]" value="warehouse" id="warehouse"><label for="warehouse">倉庫</label></li>
<li><input type="checkbox" name="classification[]" value="medical" id="medical"><label for="medical">医療・福祉施設</label></li>
<li><input type="checkbox" name="classification[]" value="cultures" id="cultures"><label for="cultures">文化・教育施設</label></li>
</ul>
<div class="search-area">
<input type="text" name="s" placeholder="キーワードを入力" value="" class="free-word-search" />
<button type="submit">検&ensp;索</button>
</div>
</form>
</div>
</div>
</section>
<section class="works-sec">
<h2 class="search-ttl02">すべての一覧</h2>
<div class="block">
<div class="item">
<a href="/works/case003/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case003_01-300x300.jpg" /></figure>
<p class="works-head02">
B保育園<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case006/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case006_01-300x300.jpg" /></figure>
<p class="works-head02">
O幼稚園<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case002/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case002_01-300x300.jpg" /></figure>
<p class="works-head02">
K事務所ビル<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case008/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case008_01-300x300.jpg" /></figure>
<p class="works-head02">
Y倉庫<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case005/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case005_01-300x300.jpg" /></figure>
<p class="works-head02">
K倉庫<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case010/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case010_01-300x300.jpg" /></figure>
<p class="works-head02">
小学校<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case009/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case009_01-300x300.jpg" /></figure>
<p class="works-head02">
事務所ビル<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case011/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case011_01-300x300.jpg" /></figure>
<p class="works-head02">
消防署<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case007/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case007_01-300x300.jpg" /></figure>
<p class="works-head02">
Yビル<br>
<span class="note-text">
location&ensp;Tokyo                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case004/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case004_01-300x300.jpg" /></figure>
<p class="works-head02">
Fビル<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
<div class="item">
<a href="/works/case001/" class="works-link">
<figure><img width="300" height="300" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" src="/uploads/case001_01-300x300.jpg" /></figure>
<p class="works-head02">
産婦人科<br>
<span class="note-text">
location&ensp;Saitama                </span>
</p>
</a>
</div>
</div>
</section>
<section>
<div class="outer-container">
</div>
</section>
</main>
<section class="cta content-section darks">
<div class="cta-wrap outermost-container">
<p class="lead">
建築の大小関わらず<br class="sp-off">
お気軽にご相談ください
</p>
<button class="rainbow-btn" onclick="location.href='/hassei/contact/'">
<svg class="c-cta__icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 30" aria-hidden="true">
<polygon fill="currentColor" points="9.8 26.9 14.9 22.9 9.8 19.4 9.8 26.9" />
<polygon fill="currentColor" points="2.9 12.7 9.9 17.8 29.5 5.3 11.6 19 22 26.6 32.1 3.1 2.9 12.7" />
</svg>&ensp;&ensp;お問い合わせ
</button>
</div>
</section>